.select {
  position: relative;
}

.select__input {
  font-size: 16px;
  line-height: 1.25;
  border-radius: 6px;
  padding: 9px 26px 9px 12px;
  border: 1px solid var(--color-warm-grey);
  box-sizing: border-box;
  color: var(--color-dark);
  height: 40px;
  width: 100%;
  background: none;
  appearance: none;
}

.select__input::placeholder {
  color: var(--color-warm-grey);
}

.select__input:hover {
  border: 2px solid var(--color-light-blue);
  padding: 7px 11px;
}

.select__input:focus {
  outline: none;
  border: 2px solid var(--color-blue);
  padding: 7px 11px;
}

.select__input:disabled {
  background-color: var(--color-lighten);
  color: var(--color-grey);
  padding: 9px 12px;
}

.select__input:disabled:hover {
  background-color: #f6f6f6;
  color: var(--color-grey);
  cursor: not-allowed;
  border: 1px dashed var(--color-warm-grey);
}

.select__icon {
  position: absolute;
  top: 14px;
  right: 12px;
}
